<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Phone</th>
    <th>Logout</th>

  </tr>
  </thead>
  <tbody>
  <td th:text="${user.getId()}"></td>
  <td th:text="${user.getUsername()}"></td>
  <td th:text="${user.getSurname()}"></td>
  <td th:text="${user.getPhone()}"></td>

  <td><form th:method="GET", th:action="@{/logout}"><input type="submit" value="Logout"/></form></td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>
</html>